body {
	font-size: 62.5%;
	line-height: 1.8rem;
	margin: 0;
	padding: 0;
	background-color: rgb(0, 121, 191);
	color: rgb(77, 77, 77);
	box-sizing: border-box;
	font-family: "Helvetice Nueue", Arial, Helvetica, sans-serif;
}
.header{
	width: 100%;
	background-color: rgb(0, 121, 191);
	height: auto;
	margin-bottom: 0.5rem;
	span {
		color: rgb(255, 255, 255);
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 3rem;
		padding-left: 0.6rem;
	}
}
.board{
	display: flex;
	flex-direction: row;
}
.lists {
	width: 27rem;
	margin: 0 0.5rem;
	height: 100%;
	background-color: rgb(226, 228, 230);
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	padding: 0.3rem 0.5rem;
	padding-bottom: 1rem;
	line-height: 1.8rem;
	.list-header{
		font-size: 1.4rem;
		font-weight: 600;
	}
	.list-card {
		padding: 0.6rem 0.6rem 0.2rem 0.8rem;
		background-color: rgb(255, 255, 255);
		border-bottom: 0.1rem solid #ccc;
		border-radius: 0.3rem;
		max-width: 30rem;
		min-height: 2rem;
		font-size: 1.4rem;
	}
}