body {
  font-size: 62.5%;
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
  background-color: #0079bf;
  color: #4d4d4d;
  box-sizing: border-box;
  font-family: "Helvetice Nueue", Arial, Helvetica, sans-serif; }

.header {
  width: 100%;
  background-color: #0079bf;
  height: auto;
  margin-bottom: 0.5rem; }
  .header span {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    padding-left: 0.6rem; }

.board {
  display: flex;
  flex-direction: row; }

.lists {
  width: 27rem;
  margin: 0 0.5rem;
  height: 100%;
  background-color: #e2e4e6;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  padding-bottom: 1rem;
  line-height: 1.8rem; }
  .lists .list-header {
    font-size: 1.4rem;
    font-weight: 600; }
  .lists .list-card {
    padding: 0.6rem 0.6rem 0.2rem 0.8rem;
    background-color: white;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    max-width: 30rem;
    min-height: 2rem;
    font-size: 1.4rem; }

/*# sourceMappingURL=style.css.map */
